* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  transition: filter 0.7s;
}

h1 {
  font-size: 60px;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 4px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn {
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
  background-color: orangered;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.btn:hover {
  filter: brightness(0.8);
}

.active.container {
  filter: blur(5px) brightness(0.7);
}

.popup-container {
  position: fixed;
  left: 50%;
  width: 400px;
  height: 250px;
  top: 30%;
  transform: translateX(-50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: url("https://plus.unsplash.com/premium_photo-1681666713680-fb39c13070f3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y29tcHV0ZXJ8ZW58MHx8MHx8fDA%3D");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: all 0.7s;
}

h4 {
  font-size: 30px;
  margin: 10px 0;
  font-family: sans-serif;
  color: blueviolet;
}

label {
  color: blueviolet;
  font-family: sans-serif;
}

.popup-btn {
  background-color: orangered;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid;
}

.input {
  border: 2px solid;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
}

.input::placeholder {
  color: lightgray;
}

.close-icon {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.close-icon:hover {
  color: blueviolet;
}

.active.popup-container {
  visibility: hidden;
  opacity: 0;
  top: 10%;
}

@media (max-width: 500px) {
  h1 {
    font-size: 45px;
  }

  .btn {
    padding: 10px 18px;
    width: 180px;
    font-size: 18px;
  }

  .popup-container {
    width: 320px;
    padding: 17px;
  }

  h4 {
    font-size: 25px;
    margin: 8px 0;
  }

  .popup-btn {
    font-size: 18px;
    padding: 8px;
  }

  .input {
    padding: 8px;
    margin: 8px 0;
    font-size: 18px;
  }
}
